* {
  box-sizing: border-box;
}
div.text {
  position: relative;
  margin: 16px;
  text-decoration: underline 1px dotted black;
  display: block;
}
span.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  display: none;
}
div.text:hover span.tooltip {
  display: block;
}
